<div class="navbar navbar-default navbar-fixed-top">
    <div class="container" name="nav-links">
        <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("CHARMA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Volunteer", "Index", "Volunteer")</li>
                <li>@Html.ActionLink("Charity", "Index", "Charity")</li>
            </ul>
            <input type="textbox" placeholder="Search Charity" id="charity-search" class="typeahead navbar-form navbar-right" />
            @Html.Partial("_LoginPartial")

        </div>
            </div>
    </div>
</div>
